
 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<mat-card class="card" color="primary">
    <mat-card-header class="card-header">
        <mat-card-title>LOGIN</mat-card-title>
    </mat-card-header>
   
      <mat-card-content class="card-content">
   
        <mat-form-field>
          <mat-label for="username">Felhasználónév</mat-label>
          <input type="text" matInput  formControlName="userName">
          <mat-error *ngIf="userName.errors?.required"> A mező kitöltése kötelező</mat-error>
          <mat-error *ngIf="userName.errors?.minlength">
            A felhasználónévnek legalább 5 karaktert kell tartalmaznia
          </mat-error> 

        </mat-form-field><br>
        <mat-form-field>
          <mat-label for="password">Jelszó</mat-label>
          <input type="password" matInput  formControlName="password">
          <mat-error *ngIf="password.errors?.required"> A mező kitöltése kötelező</mat-error>
          <mat-error *ngIf="password.errors?.minlength"> A jelszónak legalább 8 karaktert kell tartalmaznia </mat-error> 
        </mat-form-field>
        
      </mat-card-content>
      <mat-error >{{errorMessage? errorMessage: ''}}</mat-error>
      <mat-card-actions align="start" class="login-btn">
          <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" >LOGIN</button>
      </mat-card-actions>
    
    
</mat-card>
</form>